kevinPage
    //-
        The object passed in to this page is as follows:
        {
            params: {
                pageName: "Kevin's Page",
                numbers: [1,3,17,55,23,91],
                isAuthenticated: 'true',
                objects: [
                    {
                        name: "tim",
                        gender: "male"
                    },
                    {
                        name: "tina",
                        gender: "female"
                    },
                    {
                        name: "tommy",
                        gender: "male"
                    },
                    {
                        name: "trisha",
                        gender: "female"
                    }
                ]
            }
        }

weather
    //-
        object = 
        {
            params: {
                temperature: "string",
                windSpeed: "string"
            }
        }
    div The temperature is #{params.temperature}

    //-
        weather
        reminder

        text