mixin stylePackage

    link(href="https://fonts.googleapis.com/css?family=Comfortaa|Dosis|Montserrat|Raleway" rel="stylesheet")
    // note comfortaa is font-family: 'Comfortaa', cursive;
    // all others sans-serif
    style.
        body {
            color: white;
            background-color: black;
            font-family: 'Raleway', sans-serif;
        }