mixin timeWidget()

    div.widgetWrapper
        div#dayOfWeek
        div#month
        div#time

    script.
        let days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        let months = ["January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        function updateTime() {
            var date = new Date();
            document.getElementById("dayOfWeek").innerHTML = days[date.getDay()];
            document.getElementById("month").innerHTML = date.getDate() + ' ' +  months[date.getMonth()] + ', ' + date.getFullYear();
            document.getElementById("time").innerHTML = date.getHours() + ':' + date.getMinutes();
        }
        // update time less than every second to account for inconsistencies w/ setInterval
        setInterval(updateTime,950);
        updateTime();
    style.
        .widgetWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        #dayOfWeek {
            font-size: 3em;
            text-align: justify;
            margin: 10px auto;
        }
        #month {
            font-size: 1.5em;
            text-align: justify;
            margin: 1px auto;
        }
        #time {
            font-size: 5em;
            text-align: justify;
            margin: 10px auto;
        }
