[Desktop Entry]
Encoding=UTF-8
Name=mirrorlaunch
Type=Application
Comment=Startup Stuffs
Exec=lxterminal -e /home/pi/Desktop/mirrorCode/HardwareInterface/AutoBoot/init.sh
Terminal=true
Icon=utilities-terminal