Empty 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    html
        body empty view, will be dark and look like we're off
            
    style.
        body {
            font-size: 1.3rem;
        }
        .header {
            width: 100vw;
            height: 10vh;
            text-align: center;
            font-size: 20px;
        }
    +socketScript()
    +stylePackage()