Error 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    html
        body
            div.wrapper
                div.header Error, the "#{params.text}" you have stated is not within our database. Please try again
            
    style.
        .header {
            text-align: center;
            font-size: 2.3em;
        }
        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    +socketScript()
    +stylePackage()