Main 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    html
        body
        div.stockWrapper
            canvas#stock1(width="800", height="800")
    style.
        .stockWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")

    script.
        let ctx = document.getElementById("stock1").getContext("2d");
        let data = !{JSON.stringify(params.stockData)};
        let stockChart1 = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: [{
                    label: 'one',
                    pointRadius: 0,
                    borderColor: '#0fcc0c',
                    fill: false,
                    data: data.data
                }]
            },
            options: {
                title: {
                    display: true,
                    text: data.title.toUpperCase(),
                    fontColor: '#fff',
                    fontSize: 36
                },
                legend: {display: false},
                scales: {
                    xAxes: [{
                        ticks: {
                            display: false
                        },
                        gridLines: {
                            zeroLineColor: '#fff'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            fontColor: '#fff',
                            fontSize: 14
                        },
                        gridLines: {
                            zeroLineColor: '#fff'
                        }
                    }]
                }
            }
        });

    +socketScript()
    +stylePackage()