TextDisplay 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    html
        body
            div.main
                div.content #{params.text}
                if 'source' in params
                    div.source #{params.source}
            
    style.
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

        }

        .content {
            margin: 40px;
            font-size: 2.7em;
        }

        .source {
            text-align: right;
            font-size: 1.7em;
        }

    +socketScript()
    +stylePackage()

