TextDisplay 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    html
        body
            div #{params.text} 
            
    style.
        body {
            font-size: 3rem;
            background-color: black;
            color: white;
            width: 100vw;
            height: 100vh;
            text-align: center;
        }

        div {
            margin: 50vh auto;
        }

        .header {
            width: 100vw;
            height: 10vh;
            text-align: center;
            font-size: 20px;
        }
    +socketScript()
    +stylePackage()

