Timer 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    //
        params: {
            duration: "duration (s)"
        }
    html
        body
            div#timerView Timing for #{params.duration} seconds
            
    style.
        body {
            font-size: 3rem;
            background-color: black;
            color: white;
            width: 100vw;
            height: 100vh;
            text-align: center;
        }

        #timerView {
            margin: 50vh auto;
        }

        .header {
            width: 100vw;
            height: 10vh;
            text-align: center;
            font-size: 20px;
        }
    +socketScript()
    +stylePackage()

    script.
        let timeDuration = parseInt("#{params.duration}");
        setInterval(() => {
            timeDuration -= 1;
            if (timeDuration > 0) {
                document.getElementById("timerView").innerHTML = "Timing for\n" + timeDuration + "\nseconds";
            } else {
                document.getElementById("timerView").innerHTML = "Time's Up!"
            }
        }, 1000);

