Timer 
    include Mixins/socket.pug
    include Mixins/stylePackage.pug
    //
        params: {
            duration: "duration (s)"
        }
    html
        body
            div.timerWrapper
                div#timeRemaining #{params.duration}
                div#timerDetail Seconds Remaining
            
    style.

        .timerWrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        #timeRemaining {
            font-size: 9em;
            margin: 7px auto;
        }

        #timerDetail {
            font-size: 5em;
            margin: 7px auto;
        }

    +socketScript()
    +stylePackage()

    script.
        let timeDuration = parseInt("#{params.duration}");
        setInterval(() => {
            timeDuration -= 1;
            if (timeDuration > 0) {
                document.getElementById("timeRemaining").innerHTML = timeDuration;
            } else {
                document.getElementById("timeRemaining").innerHTML = "Time's Up!";
                document.getElementById("timerDetail").innerHTML = "";
            }
        }, 1000);

